	<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content search-popup">
					<div class="text-center">
						<a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
					</div>
					<div class="search-outer">
						<div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
						<div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
					</div>
				</div>
			</div>
		</div>
		<!-- /search-popup -->
		<!--  .menu  -->
	<!--	<div class="modal fade bs-example-modal-lg search-bg menu-popup" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content search-popup">
					<nav class="navbar navbar-inverse openmenu">
						<ul class="nav navbar-nav">
							<li class="dropdown"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span>Home</span></a>
								<ul class="dropdown-menu dropdownhover-bottom" role="menu">
									<li><a href="index.html">Home pages 1</a></li>
									<li><a href="index2.html">Home pages 2</a></li>
									<li><a href="index3.html">Home pages 3</a></li>
									<li><a href="index4.html">Home pages 4</a></li>
								</ul>
							</li>
							<li class="dropdown"> <a href="list.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span> Shop</span></a>
								<div class="dropdown-menu dropdownhover-bottom mega-menu" role="menu">
									<div class="col-sm-8 col-md-8">
										<ul>
											<li><strong>Shop Pages</strong></li>
											<li><a href="#">Standard Shop Page</a></li>
											<li><a href="#">Small Products</a></li>
											<li><a href="#">Medium Products</a></li>
											<li><a href="#">Large Products</a></li>
											<li><a href="#">Sidebar</a></li>
											<li><a href="#">Pagination</a></li>
											<li><a href="#">Shop Infinity</a></li>
										</ul>
										<ul>
											<li><strong>Products Pages</strong></li>
											<li><a href="#">Product Page V1</a></li>
											<li><a href="#">Product Page V2</a></li>
											<li><a href="#">Product Page V3</a></li>
											<li><a href="#">Product Page V4</a></li>
											<li><a href="#">Simple Product</a></li>
											<li><a href="#">Variable Product</a></li>
											<li><a href="#">External Product</a></li>
										</ul>
										<ul>
											<li><strong>Other Shop Pages</strong></li>
											<li><a href="#">Collection</a></li>
											<li><a href="#">LookBook</a></li>
											<li><a href="#">Shopping Cart</a></li>
											<li><a href="#">Wishlist</a></li>
											<li><a href="#">Order Tracking</a></li>
											<li><a href="#">My Account</a></li>
											<li><a href="#">Checkout</a></li>
										</ul>
									</div>
									<div class="col-sm-4 col-md-4"> <img src="assets/images/Hover-menu-img.jpg" alt="Hover-menu-img"> </div>
								</div>
							</li>
							<li> <a href="#" class="dropdown-toggle"><span>About</span></a> </li>
							<li class="dropdown">
								<a href="blog.html" data-toggle="dropdown" role="button" aria-expanded="false"><span>Blog</span></a>
								<ul class="dropdown-menu dropdownhover-bottom" role="menu">
									<li><a href="blog.html">Blog</a></li>
									<li><a href="blog-columm3-masonry.html">Blog Columm 3 Masonry</a></li>
									<li><a href="blog-filter-2-columns.html">Blog Filter 2 Columns</a></li>
									<li><a href="blog-filter-3-columns.html">Blog Filter 3 Columns</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li> <a href="contact.html"><span>Contact</span></a> </li>
							<li class="dropdown">
								<a href="gridfull.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
									<span>Elements</span></a>
								<ul class="dropdown-menu dropdownhover-bottom" role="menu">
									<li><a href="list.html">Shop List</a></li>
									<li><a href="grid-3-columns.html">Shop Grid 3 Columns</a></li>
									<li><a href="grid-4-columns.html">Shop Grid 4 Columns</a></li>
									<li><a href="grid-sidebar-left.html">Shop Grid Sidebar Left</a></li>
									<li><a href="products-detail.html">Products Detail</a></li>
									<li><a href="products-detail02.html">Products Detail 02</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>   -->
		<!--  /.menu  -->
		<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
			<!-- .home-slider -->
			<div class="carousel-inner">
				<div class="item active" style="background-image: url(/images/sam9.jpg);  background-repeat: no-repeat; background-position: top;">
					<div class="caption">
						<h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Smart<br>Children Toys</h2>
						<p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">Varieties of Toys are available for kids to play around with, it helps to build their creativity as they grow up. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="#"><span>view collection</span></a> </div>
				</div>
				<div class="item" style="background-image: url(/images/header-2.jpg);  background-repeat: no-repeat; background-position: top;">
					<div class="caption">
						<h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Mobile<br> Phone Pouche</h2>
						<p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">Different deigns and colors of GSM Phone Pouche are available for different mobile phones ranging from Android, ioS etc. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="#"><span>view collection</span></a> </div>
				</div>
				<div class="item" style="background-image: url(/images/header-3.jpg);  background-repeat: no-repeat; background-position: top;">
					<div class="caption">
						<h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Women<br> Outing Collections</h2>
						<p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">Complete varieties of handbags, Glasses, Shoe etc are available for your fantastic look. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="#"><span>view collection</span></a> </div>
				</div>
				<!-- indicators -->
				<ol class="carousel-indicators">
					<li data-target="#home-slider" data-slide-to="0" class="active"></li>
					<li data-target="#home-slider" data-slide-to="1" class=""></li>
					<li data-target="#home-slider" data-slide-to="2" class=""></li>
				</ol>
				<!-- /indicators -->
			</div>
			<!-- /.home-slider -->
		</div>
	</header>
	<section class="banner-outer">
		<!-- .banner-outer -->
		<div class="container">
			<!-- .banner-bg -->
			<div class="banner-bg">
				<div class="col-sm-4 col-md-4">
					<!-- .banner-img -->
					<div class="banner-img animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s"> <img src="/images/banner1.jpg" alt="about-img1" />
						<div class="banner-text">
							<h3>Female Shoes</h3>
							<p><a href="#">Discover Now</a></p>
						</div>
					</div>
					<!-- /.banner-outer -->
				</div>
				<div class="col-sm-4 col-md-4">
					<!-- .banner-img -->
					<div class="banner-img animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s"> <img src="/images/banner2.jpg" alt="about-img1" />
						<div class="banner-text">
							<h3>Smart LED TV</h3>
							<p><a href="#">Discover Now</a></p>
						</div>
					</div>
					<!-- /.banner-outer -->
				</div>
				<div class="col-sm-4 col-md-4 animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">
					<!-- .banner-img -->
					<div class="banner-img"> <img src="/images/banner3.jpg" alt="about-img1" />
						<div class="banner-text">
							<h3>Fantastic female shoe's</h3>
							<p><a href="#">Discover Now</a></p>
						</div>
					</div>
					<!-- /.banner-outer -->
				</div>
			</div>
			<!-- /.banner-bg -->
		</div>
		<!-- /.banner -->
	</section>
	<section class="new-arrivals">
		<!-- .new-arrivals -->
		<div class="container">
			<div class="tittle text-center">
				<h2>Trending Products</h2>
				<p>Awesome discount for products displayed on our Website.</p>
			</div>
			{{#each products}}
			<div class="row animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">
			  {{#each this}}
				<div class="col-md-3">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="{{this.imagePath}}" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --> <a href="#">{{this.title}}</a> <a href="/add-to-cart/{{this._id}}" id="addcart" name="addcart" class="addtocart">+ Add to cart</a>
						<div class="price">₦{{this.price}}</div>   <!-- /add-to-cart/{{this._id}}  -->
					</div>
					<!-- /.pro-text -->
				</div>
			   {{/each}}
			</div>
         {{/each}}
		 		<div class="col-md-12 text-center">
					<a href="#" class="lbtn">load more</a>
				</div>
		</div>
		<!-- /.new-arrivals -->
	</section>
	<section class="banner-outer">
		<!-- .banner-outer -->
		<div class="col-sm-6 col-md-6">
			<!-- .banner-img -->
			<div class="banner-img">
				<img src="/images/bg-banner.jpg" alt="about-img1" />
				<div class="banner-text2">
					<h4>Products Essentials</h4>
					<h3>Bottle With Wooden Cork</h3>
					<p>The Newtown sofa range is the first product Jonas Wagell has designed for Zaozuo, but one of the last to be finalized and launched.</p>
					<p><a href="#">Buy now / <span>₦196.98</span></a></p>
				</div>
			</div>
			<!-- /.banner-outer -->
		</div>

		<div class="col-sm-6 col-md-6">
			<!-- .banner-img -->
			<div class="banner-img">
				<img src="/images/bg-banner2.jpg" alt="about-img1" />
				<div class="banner-text2">
					<h4>Products Essentials</h4>
					<h3>Hauteville Plywood Chair</h3>
					<p>The Newtown sofa range is the first product Jonas Wagell has designed for Zaozuo, but one of the last to be finalized and launched.</p>
					<p><a href="#">Buy now / <span>₦196.98</span></a></p>
				</div>
			</div>
			<!-- /.banner-outer -->
		</div>
		<!-- /.banner -->
	</section>
	<section class="new-arrivals">
		<!-- .new-arrivals -->
		<div class="container">
			<div class="tittle text-center">
				<h2>Sale Off</h2>
				<p>We also deliver products to your doorstep</p>
			</div>
			<div class="row animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">
				<div class="col-5">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="/images/Products/21.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="new tage"> <span class="new-text">NEW</span> <span class="pres-text">-15%</span> </div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Black Back-Bag</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">₦100.00 <span>200</span></div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-5">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="/images/Products/26.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="discount tage"> <span class="discount-text">-15%</span> </div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Original sneakers</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">₦260.00 <span></span></div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-5">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="/images/Products/24.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="new tage"> <span class="new-text">NEW</span> <span class="pres-text">-15%</span> </div>

							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Pure Gold Ring</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">₦460.00 <span>200</span></div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-5">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="/images/Products/17.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="discount tage"> <span class="discount-text">-15%</span> </div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">Woofer Music Set</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">₦140.00</div>
					</div>
					<!-- /.pro-text -->
				</div>
				<div class="col-5">
					<!-- .pro-text -->
					<div class="pro-text">
						<!-- .pro-img -->
						<div class="pro-img"> <img src="/images/Products/22.jpg" alt="2" />
							<!-- .hover-img -->
							<div class="hover-img">
								<ul>
									<li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="new tage"> <span class="new-text">NEW</span> <span class="pres-text">-15%</span> </div>
							<!-- /.hover-img -->
						</div>
						<!-- /.pro-img --><a href="#">High Quality red Bag</a> <a href="#" class="addtocart">+ Add to cart</a>
						<div class="price">₦160.00</div>
					</div>
					<!-- /.pro-text -->
				</div>

			</div>
		</div>
		<!-- /.new-arrivals -->
	</section>
	<section class="client-icon hide">
		<div class="container">
			<ul>
				<li>
					<a href="#"><img src="/images/client-logo1.png" alt="client-logo1" /></a>
				</li>
				<li>
					<a href="#"><img src="/images/client-logo2.png" alt="client-logo2" /></a>
				</li>
				<li>
					<a href="#" class="active"><img src="/images/client-logo3.png" alt="client-logo3" /></a>
				</li>
				<li>
					<a href="#"><img src="/images/client-logo4.png" alt="client-logo4" /></a>
				</li>
				<li>
					<a href="#"><img src="/images/client-logo5.png" alt="client-logo4" /></a>
				</li>
			</ul>
		</div>
	</section>

	<section class="section-padding">
		<!-- Latest News -->
		<div class="container">
			<div class="tittle text-center">
				<h2>Our Blog Posts</h2>
				<p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p>
			</div>
			<div class="col-sm-4 col-md-4 wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">
				<div class="news-box">
					<div class="news-img">
						<img src="/images/blog-img1.jpg" alt="news-img1" />
					</div>
					<div class="news-text"> <a href="#">Anteposuerit litterarum formas.</a>
						<p>By <span>Zcubedesign</span> / September 11, 2017</p>
						<div class="news-text-content"> Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum. </div> <a href="#" class="readbtn">Read More</a> </div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4 wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">
				<div class="news-box">
					<div class="news-img">
						<img src="/images/blog-img2.jpg" alt="news-img1" />
					</div>
					<div class="news-text"> <a href="#">Anteposuerit litterarum formas.</a>
						<p>By <span>Zcubedesign</span> / September 11, 2017</p>
						<div class="news-text-content"> Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum. </div> <a href="#" class="readbtn">Read More</a> </div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4 wow fadeIn" data-wow-duration=".4s" data-wow-delay=".3s">
				<div class="news-box">
					<div class="news-img">
						<img src="/images/blog-img3.jpg" alt="news-img1" />
					</div>
					<div class="news-text"> <a href="#">Anteposuerit litterarum formas.</a>
						<p>By <span>Zcubedesign</span> / September 11, 2017</p>
						<div class="news-text-content"> Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum. </div> <a href="#" class="readbtn">Read More</a> </div>
				</div>
			</div>
		</div>
		<!-- /Latest News -->
	</section>
	<section class="subscribe text-center">
		<!-- .subscribe -->
		<div class="container">
			<h2>Get Discount Info</h2>
			<p>ubscribe to the Outstock mailing list to receive updates on new arrivals, special offers and
				<br> other discount information.</p>
			<input type="text" placeholder="Enter Email here to Subscribe to our newsletter...">
			<input type="button" value="Subscribe">
		</div>
		<!-- /.subscribe -->
	</section>
    	<!-- Get Our Email Letter popup -->
	<div class="modal fade modal-popup" id="modal1" data-open-onload="true" data-open-delay="1500" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" style="background-image:url('images/modal-background.jpg'); background-size:cover">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-2 pt-20 text-center">
							</div>
							<div class="col-sm-8 pt-20 text-center">
								<h2 class="heading font34 inverse">
									Get Our Email Letter</h2>
								<p class="font22 text-center">Subscribe to the Outstock mailing list to receive updates on new arrivals, special offers and other discount information.</p>
								<form name="main">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Enter your Email id"> </div>
									<div class="form-group">
										<button class="btn btn-black" type="button">Subscribe!</button>
									</div>
								</form>
							</div>
							<div class="col-sm-2 pt-20 text-center">
							</div>
							<div class="col-sm-12">
								<div class="form-group text-right">
									<input type="checkbox" name="check" /> Do not show this popup again </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Get Our Email Letter popup -->